.home{
    display: flex;
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(255, 255, 255, 1) 0%,
        rgba(242, 243, 255, 1) 100%
        );
    flex: 6;
}

.homeContainer{
    flex: 8;
}

